/* 
 * Styles for a video wrapper.
 * To be used by generators like vimeo, youtube...
 */
.videowrapper {
    position:relative;
    overflow:hidden;
    height:0;
    width:100%;
    padding-bottom:56.25%;
}
.videowrapper iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}


